In [2]:
%%pyspark
df = spark.read.load('abfss://raspdata@datalakesu20220620.dfs.core.windows.net/sensor=1984/year=2022/month=06/data2022_06_20_13_08_32.csv', format='csv'
## If header exists uncomment line below
, header=True
)
display(df.limit(10))

StatementMeta(minsparkpool, 0, 6, Finished, Available)

SynapseWidget(Synapse.DataFrame, 036d5989-fa49-46f9-9cb2-d51a45aa886d)

In [2]:
%%pyspark
df = spark.read.load('abfss://matador@datalakesu20220620.dfs.core.windows.net/*.json', format='json',multiline=True)
display(df.limit(10))

StatementMeta(minsparkpool, 1, 2, Finished, Available)

SynapseWidget(Synapse.DataFrame, fc27f15d-4360-4847-b72d-bbdae428160f)

In [3]:
from pyspark.sql.functions import explode
childrenDF=df.select('lastName',explode('children').alias('childrenflat'))
childrenDF.show()

StatementMeta(minsparkpool, 1, 3, Finished, Available)

+---------------+--------------------+
|       lastName|        childrenflat|
+---------------+--------------------+
|Andersen-Skjern|{Ellen, null, fem...|
|Andersen-Skjern|{Daniel, null, ma...|
|Andersen-Skjern|{Erik, Astronaut,...|
|         Varnæs|{Ulrik, null, mal...|
|         Varnæs|{Regitze, null, f...|
+---------------+--------------------+

In [4]:
newDF=childrenDF.select('lastName', 'childrenflat.firstName','childrenflat.gender','childrenflat.grade')
newDF.show()

StatementMeta(minsparkpool, 1, 4, Finished, Available)

+---------------+---------+------+-----+
|       lastName|firstName|gender|grade|
+---------------+---------+------+-----+
|Andersen-Skjern|    Ellen|female|    5|
|Andersen-Skjern|   Daniel|  male|    3|
|Andersen-Skjern|     Erik|  male|    5|
|         Varnæs|    Ulrik|  male|    5|
|         Varnæs|  Regitze|female|    3|
+---------------+---------+------+-----+

In [5]:
%%sql
CREATE DATABASE sparkDB

StatementMeta(minsparkpool, 1, 5, Finished, Available)

In [6]:
newDF.write.format("parquet").saveAsTable('sparkDB.matadorChildren')

StatementMeta(minsparkpool, 1, 6, Finished, Available)

In [8]:
%%sql
SELECT * FROM sparkDB.matadorChildren

StatementMeta(minsparkpool, 1, 8, Finished, Available)

In [9]:
%%spark
// VI ER I SCALA - den 
// Vi indlæser via Scala
val dfScala = spark.sql("SELECT * FROM sparkdb.matadorchildren")
dfScala.show()

StatementMeta(minsparkpool, 1, 10, Finished, Available)

+---------------+---------+------+-----+
|       lastName|firstName|gender|grade|
+---------------+---------+------+-----+
|Andersen-Skjern|    Ellen|female|    5|
|Andersen-Skjern|   Daniel|  male|    3|
|Andersen-Skjern|     Erik|  male|    5|
|         Varnæs|    Ulrik|  male|    5|
|         Varnæs|  Regitze|female|    3|
+---------------+---------+------+-----+

dfScala: org.apache.spark.sql.DataFrame = [lastName: string, firstName: string ... 2 more fields]

In [10]:
%%spark
// Write the dataframe into your sql pool
import org.apache.spark.sql.SqlAnalyticsConnector._
import com.microsoft.spark.sqlanalytics.utils.Constants

val sql_pool_name = "SQLPool01" 

dfScala.write.sqlanalytics(s"$sql_pool_name.dbo.MatadorChildren", Constants.INTERNAL)

StatementMeta(minsparkpool, 1, 11, Finished, Available)

import org.apache.spark.sql.SqlAnalyticsConnector._
import com.microsoft.spark.sqlanalytics.utils.Constants
sql_pool_name: String = SQLPool01
warning: there was one deprecation warning; for details, enable `:setting -deprecation' or `:replay -deprecation'

In [11]:
%%spark
// Read  the table we just created in the sql pool as a Spark dataframe
val spark_read = spark.read.
    sqlanalytics(s"$sql_pool_name.dbo.MatadorChildren")
spark_read.show(5, truncate = false)

StatementMeta(minsparkpool, 1, 12, Finished, Available)

+---------------+---------+------+-----+
|lastName       |firstName|gender|grade|
+---------------+---------+------+-----+
|Andersen-Skjern|Ellen    |female|5    |
|Andersen-Skjern|Daniel   |male  |3    |
|Andersen-Skjern|Erik     |male  |5    |
|Varnæs         |Ulrik    |male  |5    |
|Varnæs         |Regitze  |female|3    |
+---------------+---------+------+-----+

warning: there was one deprecation warning; for details, enable `:setting -deprecation' or `:replay -deprecation'
spark_read: org.apache.spark.sql.DataFrame = [lastName: string, firstName: string ... 2 more fields]